<h3>User profile Component</h3>
<h5>Welcome {{name}}!</h5>

<span>Enter Name: </span>
    <input [(ngModel)]="name" placeholder="Input Name"/>
<br>
<span>Enter Email: </span>
    <input [(ngModel)]="email"] placeholder="Enter email">
<br>
<span>Enter Date of birth: </span>
    <input [(ngModel)]="dob" placeholder="Input DOB"/>
    <br>
<button (click)="onSubmit()" [disabled]="!(name && email && dob)">Submit</button>
<button (click)="onClear()">Reset</button>

<div style="margin-top:50px;">
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Date of Birth: {{dob}}</p>
    <p> Save Button Clicked: {{count}}</p>
</div>


